## Settings file was created by plugin Necromancy v1.0.0
## Plugin GUID: Necromancy

[Hotkeys]

## Summon hotkey
# Setting type: String
# Default value: Z
Summon bind (block + Z) = Z

## Convocate hotkey
# Setting type: String
# Default value: X
Convocate bind (block + X) = X

## Heal hotkey
# Setting type: String
# Default value: V
Heal bind (block + V) = V

## Kill hotkey
# Setting type: String
# Default value: K
Kill bind (block + K) = K

[Player Settings]

## HP drained when summoning
# Setting type: Single
# Default value: 35
Conjure drain = 35

## HP drained when healing minions
# Setting type: Single
# Default value: 60
Heal drain = 60

[Thrall Settings]

## Skeleton speed
# Setting type: Single
# Default value: 8
Skeleton Speed = 12

## Skeleton health
# Setting type: Single
# Default value: 600
Skeleton health = 600

[Updates]

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 1003
NexusID = 1003

